body{
    background-color: whitesmoke ;
}
h1{
    font-family: cursive;
    font-weight: bold;
    font-style: italic;
}
h4{
    color: red;
}
#camera{
    width: 500px;
    height: 400px;
    border: 2px solid rgb(221, 0, 255);
}
img{
    width: 37%;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2);
}
.column{
    display: inline;
    padding: 10px;
}
img:hover{
    border-radius: 140px;
}